
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 40rem;
}.color-hunt-palette-161a3031304db6bbc4f0ece5-1-uwM {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
}
