<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Color Hunt Palette 161a3031304db6bbc4f0ece5 1</title>
  <link rel="stylesheet" href="./styles/color-hunt-palette-161a3031304db6bbc4f0ece5-1.css"/>
</head>
<body>
<img class="color-hunt-palette-161a3031304db6bbc4f0ece5-1-uwM" src="./assets/color-hunt-palette-161a3031304db6bbc4f0ece5-1.png"/>
</body>