<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Signup.css') }}"/>
</head>
<body>
<div class="signup-page">
  <div class="top-bar">
    <p class="echocardiography-ai">Echocardiography AI</p>
    <a class="home" href="/">Home</a>
    <a class="get-started" href="signup">Get Started</a>
    <a class="login" href="login">Log In</a>
  </div>
  <form action="/" method="post" enctype="multipart/form-data">
    <div class="container">
      <p class="welcome">Welcome</p>
      <input class="full-name" placeholder="Full Name">
      <input class="email" placeholder="Email">
      <input class="username" placeholder="Username">
      <input class="password" placeholder="Password" type="password">
      <input type="submit" value="Sign Up" class="signup">
      <!--<button class="signup">Sign Up</button> -->
    </div>
</form>
  <p class="have-an-account">Already have an account? <a href="/login">Log in</a></p>
</div>
</body>