<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Quick Sign In</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C700"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/speckle-noise-01.css') }}">
</head>
<body>
<div class="speckle-noise-01-S9m">
  <p class="echocardiography-ai-YTh">Echocardiography AI</p>
  <p class="continue-to-sign-up-for-free-rjH">Continue to sign up for free</p>
  <p class="if-you-already-have-an-account-well-log-you-in-aQP">If you already have an account, we’ll log you in.</p>
  <div class="auto-group-7629-44f">
    <img class="google-xQw" src="./assets/google.png"/>
    <p class="continue-with-google-Hy1">Continue with Google</p>
  </div>
  <div class="auto-group-pcfp-ogT">
    <img class="apple-logo-hG3" src="./assets/apple-logo.png"/>
    <p class="continue-with-apple-E15">Continue with Apple</p>
  </div>
  <div class="auto-group-gwyz-YXZ">
    <img class="facebook-ro9" src="./assets/facebook.png"/>
    <p class="continue-with-facebook-c1d">Continue with Facebook</p>
  </div>
  <div class="auto-group-atcu-7yy">
    <img class="ellipsis-Rzf" src="./assets/ellipsis.png"/>
    <p class="continue-another-way-aMm">Continue another way</p>
  </div>
  <p class="by-continuing-you-agree-to-the-terms-of-use-read-our-privacy-policy-5ZR">By continuing, you agree to the Terms of use. Read our Privacy Policy.</p>
</div>
</body>